.idea

.config/hypr/theme_custom.conf
.config/hypr/hyprland.conf
.config/hypr/hyprtoolkit.conf
.config/ags/node_modules
.uuid
.config/hypr/scripts/utils
.config/DankMaterialShell/firefox.css
.config/matugen/scripts/lib/__pycache__/
.config/DankMaterialShell/.firstlaunch
.config/DankMaterialShell/.changelog-*
.config/hypr/dms/layout.conf
.config/hypr/dms/colors.conf
.config/DankMaterialShell/settings.json

.stow-backups
.stow-backups-home

paru