.idea

.config/hypr/theme_custom.conf
.config/hypr/hyprland.conf
.config/hypr/hypridle.conf
.config/hypr/hyprtoolkit.conf
.config/ags/node_modules
.uuid
.config/hypr/scripts/utils
.config/DankMaterialShell/firefox.css
.stow-backups
.config/matugen/scripts/lib/__pycache__/
/.config/DankMaterialShell/.firstlaunch
/.config/DankMaterialShell/.changelog-1.*
