@use "sass:color";
@use "../variables.scss" as *;

.applauncher-container {
  font-size: 4rem;
  min-height: 400px;
  min-width: 450px;

  .background-entry {
    border-radius: $window-border-radius;
  }

  > overlay {
    margin: $window-padding;
    margin-bottom: 8px;
  }

  .entry-overlay {
    border-radius: $window-border-radius;

    scrolledwindow viewport picture {
      border-radius: $window-border-radius;
    }
  }

  > scrolledwindow viewport {
    padding: $window-padding;
    padding-top: $window-border-width;

    box {
      outline-width: $window-border-width;

      .not-found label {
        font-size: 1rem;
      }
    }
  }

  .app-button {
    border-radius: $window-border-radius;
    -gtk-icon-size: 2rem;
    padding: 0.4rem 0.8rem;
    background-color: color.adjust($fg, $alpha: -0.8);

    image {
      margin-right: 6px;
    }

    &:active {
      > * {
        transform: none;
      }

      image {
        transform: scale(0.85);
      }
    }

    &:focus {
      outline-color: $accent;
    }

    &:hover {
      background-color: color.adjust($fg, $alpha: -0.75);
    }

    .description {
      font-size: 0.85rem;
      font-weight: 400;
    }
  }
}
