@use "sass:color";
@use "sass:math";
@use "../variables.scss" as *;

.bar-container {
  margin: $bar-margin;

  .time-container {
    margin-top: 4px;
    font-size: 1.3rem;
  }

  .tray-container {
    menubutton {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .bar-box {
    background-color: color.adjust(
                    $bar-button-bg-color,
            $alpha: calc($bar-button-opacity - 1)
    );
    border-radius: $bar-border-radius;
    padding: $bar-padding;
  }

  separator {
    min-width: if($bar-separator, 2px, 0);
  }

  .workspace-container {
    color: $bar-button-fg-color;
    border-radius: calc(nth($bar-button-border-radius, 1) / 2);
    padding: $bar-button-padding;

    .workspace-button {
      background-color: color.adjust($bar-button-fg-color, $alpha: -0.55);
      min-height: 0.65em;
      min-width: 0.65rem;
      border-radius: calc(nth($bar-button-border-radius, 1) * 1.5);

      transition: min-width 0.25s ease-out;

      &:hover {
        background-color: $bar-button-fg-color;

        &.occupied {
          background-color: $bar-button-fg-color;
        }
      }

      &.active {
        min-width: 2.5rem;
        min-height: 0.95rem;
        background-color: $accent;
      }

      &.occupied {
        box-shadow: unset;
        background-color: $bar-button-fg-color;

        &.active {
          background-color: $accent;
        }
      }
    }
  }
}
