-- Hyprland Lua config
-- Migrated from hyprland.conf.dist
--
-- Put this file at: ~/.config/hypr/hyprland.lua
-- Hyprland will load hyprland.lua instead of hyprland.conf on startup.

----------------
-- Layout
----------------
require("configs.layout")

----------------
-- Decoration
----------------
require("configs.decoration")
require("configs.animation")

----------------
-- Input
----------------
require("configs.input")
require("configs.keybinds")
require("configs.gestures")

----------------
-- Rules
----------------
require("configs.rules")

----------------
-- Misc
----------------
require("configs.misc")

----------------
-- Env configs
----------------
-- require("configs/env/cursor")
require("configs.env.gpu")
-- require("configs.env.wayland")
-- require("configs.env.firefox")
-- require("configs.env.wine")

----------------
-- Workspaces
----------------
require("configs.workspaces")

----------------
-- Start Exec
----------------
require("configs.startexec")

----------------
-- Dank Material Shell
----------------
require("dms.outputs")
require("dms.cursor")
require("dms.colors")
