@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.css");
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/JoyPixels.css);
@import url("https://refact0r.github.io/system24/src/main.css");

:root {
    --accent-1: {{colors.tertiary.default.hex}};            /* links */
    --accent-2: {{colors.primary.default.hex}};             /* general unread/mention elements, some icons when active */
    --accent-3: {{colors.primary.default.hex}};             /* accent buttons */
    --accent-4: {{colors.surface_bright.default.hex}};      /* accent buttons when hovered */
    --accent-5: {{colors.primary_fixed_dim.default.hex}};   /* accent buttons when clicked */
    --accent-new: {{colors.primary.default.hex}};            /* refresh? */
    --red-1: #EF5350;
    --red-2: #E53935;
    --red-3: #D32F2F;
    --red-4: #B71C1C;
    --red-5: #791313;
    --custom-info-color: #00b5e8;
    --custom-background-surface-high: rgba(0, 0, 0, 0.33);
    /* system24 */
    --font-secondary: "VictorMono"; /* UI font name. it must be installed on your system. */
    --font-primary: "VictorMono"; /* UI font name. it must be installed on your system. */
    --font: "VictorMono"; /* UI font name. it must be installed on your system. */
    letter-spacing: -0.05ch; /* decreases letter spacing for better readability. */
    font-weight: 300; /* UI font weight. */
    --label-font-weight: 500; /* font weight for panel labels. */
    --corner-text: ""; /* custom text to display in the corner. only works on windows. */
    --pad: 16px; /* padding between panels. */
    --txt-pad: 10px; /* padding inside panels to prevent labels from clipping */
    --panel-roundness: 0px; /* corner roundness of panels. ONLY WORKS IF unrounding.css IS REMOVED (see above). */

    /* background colors */
    --bg-0: oklch(19% 0 0); /* main background color. */
    --bg-0-t: oklch(0 0 0 / 0.4); /* main background color. */
    --bg-1: oklch(
            23% 0 0
    ); /* background color for secondary elements like code blocks, embeds, etc. */
    --bg-2: oklch(27% 0 0); /* color of neutral buttons. */
    --bg-3: oklch(31% 0 0); /* color of neutral buttons when hovered. */

    /* state modifiers */
    --hover: oklch(54% 0 0 / 0.1); /* color of hovered elements. */
    --active: oklch(54% 0 0 / 0.2); /* color of elements when clicked. */
    --selected: var(--active); /* color of selected elements. */

    /* text colors */
    --txt-dark: var(--bg-0); /* color of dark text on colored backgrounds. */
    --txt-link: var(--cyan); /* color of links. */
    --txt-0: oklch(90% 0 0); /* color of bright/white text. */
    --txt-1: oklch(80% 0 0); /* main text color. */
    --txt-2: oklch(60% 0 0); /* color of secondary text like channel list. */
    --txt-3: oklch(40% 0 0); /* color of muted text. */

    /* accent colors */
    --acc-0: var(--pink); /* main accent color. */
    --acc-1: var(--pink-1); /* color of accent buttons when hovered. */
    --acc-2: var(--pink-2); /* color of accent buttons when clicked. */

    /* borders */
    --border-width: 2px; /* panel border thickness. */
    --border-color: var(--bg-3); /* panel border color. */
    --border-hover-color: var(--acc-0); /* panel border color when hovered. */
    --border-transition: 0.2s ease; /* panel border transition. */

    /* status dot colors */
    --online-dot: var(--green); /* color of online dot. */
    --dnd-dot: var(--pink); /* color of do not disturb dot. */
    --idle-dot: var(--yellow); /* color of idle dot. */
    --streaming-dot: var(--purple); /* color of streaming dot. */

    /* mention/ping and message colors */
    --mention-txt: var(--acc-0); /* color of mention text. */
    --mention-bg: color-mix(
            in oklch,
            var(--acc-0),
            transparent 90%
    ); /* background highlight of mention text. */
    --mention-overlay: color-mix(
            in oklch,
            var(--acc-0),
            transparent 90%
    ); /* overlay color of messages that mention you. */
    --mention-hover-overlay: color-mix(
            in oklch,
            var(--acc-0),
            transparent 95%
    ); /* overlay color of messages that mention you when hovered. */
    --reply-overlay: var(
            --active
    ); /* overlay color of message you are replying to. */
    --reply-hover-overlay: var(
            --hover
    ); /* overlay color of message you are replying to when hovered. */

    /* color shades */
    --pink: oklch(73% 0.12 0);
    --pink-1: oklch(63% 0.12 0);
    --pink-2: oklch(53% 0.12 0);
    --purple: oklch(73% 0.12 300);
    --purple-1: oklch(63% 0.12 300);
    --purple-2: oklch(53% 0.12 300);
    --cyan: oklch(73% 0.12 200);
    --yellow: oklch(78% 0.12 80);
    --green: oklch(73% 0.12 160);
    --green-1: oklch(63% 0.12 160);
    --green-2: oklch(53% 0.12 160);

    /* Radial Status */
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

    --rs-avatar-shape: 10%; /* 50% for round - 0% for square */

    --rs-online-color: #43b581; /* Colour for online status */
    --rs-idle-color: #faa61a; /* Colour for idle status */
    --rs-dnd-color: #f04747; /* Colour for dnd status */
    --rs-offline-color: #636b75; /* Colour for offline status */
    --rs-streaming-color: #643da7; /* Colour for streaming status */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(
            --rs-online-color
    ); /* Colour of the ring and phone icon when a user is on their phone |  */

    --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */

    /* Horizontal Server List */
    --HSL-server-direction: column; /* Direction of the server list. | OPTIONS: column, column-reverse | DEFAULT: column */
    --HSL-server-alignment: flex-start; /* Alignment of the server list. | OPTIONS: flex-start, center, flex-end | DEFAULT: flex-start */
}

/* external: Discolored */

/* 🛩️ Airplane */
[style*='background-image: url("/assets/bb9dbec63310ef1d5269.svg");'],
[style*='background-image: url("/assets/56b4ca8deff0b44cbc6f.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/airplane.svg") !important;
}

/* 🕹️ Arcades */
[style*='background-image: url("/assets/3b6c4f5175af3e9b7270.svg");'],
[style*='background-image: url("/assets/92742b32a01aa24e12ce.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/arcades.svg") !important;
}

/* 🔨 Ban Hammer */
[style*='background-image: url("/assets/cda085d959d7040960ca.svg");'],
[style*='background-image: url("/assets/9927535f3a57b86a89ca.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/ban_hammer.svg") !important;
}

/* 🚀 Boost */
.theme-dark .channelNotice-3-mDJt,
.theme-light .channelNotice-3-mDJt {
    background-image: url("https://nyri4.github.io/Discolored/assets/boost.svg");
    background-repeat: no-repeat;
}

/* 🔎💥 Broken magnifying glass */
:root .errorImage_a9e706 {
    background: url("https://nyri4.github.io/Discolored/assets/broken.svg")
    center/cover;
}

/* 🏰 Castle */
:root .verification_dede4b .image_dede4b {
    background: url("https://nyri4.github.io/Discolored/assets/castle.svg") 50%/80%
    no-repeat;
}

/* ⚙️ Channel settings here and u didn't finished */
[src="/assets/490943c0bf8c5298a2a5.svg"],
[src="/assets/8bd0c5b096e166c5857f.svg"] {
    content: url("https://nyri4.github.io/Discolored/assets/channel_settings.svg");
}

/* ⚙️ Category settings */
[src="/assets/a221ecd0f9f14fe4d0b1.svg"],
[src="/assets/ec411ddc89957ad4437f.svg"] {
    content: url("https://nyri4.github.io/Discolored/assets/category_settings.svg");
}

/* 🖥️ Computer */
[style*='background-image: url("/assets/71792026f672985a033d.svg");'],
[style*='background-image: url("/assets/4dae9f6eefe1407c3cec.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/computer.svg") !important;
}

/* 💥 Crash */
:root .image__61a6b {
    background-image: url("https://nyri4.github.io/Discolored/assets/crash.svg");
}

/* 🎮 Developer Options */
[style*='background-image: url("/assets/fe00d138a10c4d10a245.svg");'],
[style*='background-image: url("/assets/e39ad82e6a363d79f2a9.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/dev_options.svg") !important;
}

/* 😃 Emojis */
[style*='background-image: url("/assets/1248c5404ae1ad9c1e18.svg");'],
[style*='background-image: url("/assets/96e2639de7bec6a0f7e5.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/emojis.svg") !important;
}

/* 📭 Empty */
:root .image_df963a,
:root .emptyImage_e37a20 {
    background-image: url("https://nyri4.github.io/Discolored/assets/empty.svg");
}

/* 😊 Friend */
.theme-dark .channelNotice-tO6Tus.invite-OjTXrW,
.theme-light .channelNotice-tO6Tus.invite-OjTXrW {
    background: url("https://nyri4.github.io/Discolored/assets/friend.svg")
    no-repeat center 20px;
    background-size: 40%;
}

/* 🤷‍♂️ GIF not found */
:root .sadImage__29ebd {
    background-image: url("https://nyri4.github.io/Discolored/assets/gif_not_found.svg");
}

/* 🤷‍ GIF picker end */
:root .endContainer__2dc39::after {
    background-image: url("https://nyri4.github.io/Discolored/assets/gif_picker_end.svg");
}

/* 👥 Groups */
:root .noFriends_cba592 .errorStateIcon_cba5925 {
    background-image: url("https://nyri4.github.io/Discolored/assets/groups.svg");
}

/* 🎁 Gift Inventory */
:root .emptyStateImage_d4883c,
:root .emptyWumpus_adb41f {
    background-image: url("https://nyri4.github.io/Discolored/assets/gift_inventory.svg");
}

/* 🏠 Houses */
:root .emptyIconGuilds__9d78f {
    background-image: url("https://nyri4.github.io/Discolored/assets/houses.svg");
}

/* ✨ Integrations */
:root .footerImage__98b95 {
    background-image: url("https://nyri4.github.io/Discolored/assets/integrations.svg");
}

[src="/assets/d89511b11686ab5c942b3ef900e3d0eb.svg"],
[src="/assets/552bbc1a21ccdc1778e72f30154593ef.svg"] {
    content: url("https://nyri4.github.io/Discolored/assets/integrations.svg");
}

/* 🔑 Key */
.theme-dark .channelNotice-tO6Tus.guildMFAWarning-3GEzs8,
.theme-light .channelNotice-tO6Tus.guildMFAWarning-3GEzs8 {
    background: url("https://nyri4.github.io/Discolored/assets/key.svg") no-repeat
    center 20px;
    background-size: 40%;
}

/* ❌ No channel */
[style*='background-image: url("/assets/8dc24c1fbe75eed7a12c.svg");'],
[style*='background-image: url("/assets/14a2f3e448f5b6db0727.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/no_channel.svg") !important;
}

/* ⌨️ No keybinds */
[style*='background-image: url("/assets/12d9bda733d6432d605e8011c22c3e56.svg");'],
[style*='background-image: url("/assets/8de4b17bb44ad5ef9f21f2f6f16aa8d1.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/no_keybinds.svg") !important;
}

/* 🙁 No Mutuals */
:root .emptyIconFriends__9d78f {
    background-image: url("https://nyri4.github.io/Discolored/assets/no_mutuals.svg");
    background-size: 100%;
}

/* 🔎 🗣️ No results conversation */
:root .emptyState_ac6cb0 {
    background-image: url("https://nyri4.github.io/Discolored/assets/no_results_conv.svg");
    background-size: 20%;
}

/* 🔎 No results search bar*/
:root .noResultsImage_a9e706 {
    background-image: url("https://nyri4.github.io/Discolored/assets/no_results.svg");
}

/* 📱 Phones */
:root .verificationBlock__2ee71 .image_dede4b.phone__0b460 {
    background-image: url("https://nyri4.github.io/Discolored/assets/phones.svg");
}

/* 🖼️ Pictures */
[style*='background-image: url("/assets/59848dfca28e69ff3553.svg");'],
[style*='background-image: url("/assets/923ebe1687af3952c1c5.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/pictures.svg") !important;
}

/* 📌 Pinned */
[style*='background-image: url("/assets/47d3ea2d7721c75ea6cb.svg");'],
[style*='background-image: url("/assets/34224ab48bff9727f3f8.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/pinned.svg") !important;
}

/* 💩 Poo */
:root .imageError__3af5f,
:root .invalidPoop__857bf,
:root .guildIconExpired_d5f3cd {
    content: url("https://nyri4.github.io/Discolored/assets/poop.svg");
}

/* 📜 Scroll */
[style*='background-image: url("/assets/90d76146cf8dc0c17b19.svg");'],
[style*='background-image: url("/assets/c2d3560eaed920451bc5.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/scroll.svg") !important;
}

/* 🔎 Searching */
.theme-dark .searchIndexBackground_e1fee6,
.theme-light .searchIndexBackground_e1fee6 {
    background-image: url("https://nyri4.github.io/Discolored/assets/searching.svg");
}

/* 🔥 Server outage */
.theme-dark .art-_juKdZ,
.theme-light .art-_juKdZ {
    background-image: url("https://nyri4.github.io/Discolored/assets/server_outage.svg");
}

/* 🟢 Spotify error */
:root .artworkSpotifySessionEnded__4d3fa {
    background-image: url("https://nyri4.github.io/Discolored/assets/spotify_error.svg");
}

/* 🤷‍♂️ Sticker not found */
[style*='background-image: url("/assets/d6e0ab2f94e516718aa7.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/sticker_not_found.svg") !important;
}

/* 🔴 Streamer Mode */
:root .streamerModeEnabledImage_aa3ffd,
:root .emptyIconStreamerMode__9d78f {
    background-image: url("https://nyri4.github.io/Discolored/assets/streamer_mode.svg");
}

/* ↔️ Switch */
.theme-dark .channelNotice-tO6Tus.quickswitcher-35bYg4,
.theme-light .channelNotice-tO6Tus.quickswitcher-35bYg4 {
    background: url("https://nyri4.github.io/Discolored/assets/switch.svg")
    no-repeat center 20px;
}

/* 📹 Test Video */
:root .previewImage_d41d5f {
    content: url("https://nyri4.github.io/Discolored/assets/test_video.svg");
}

/* 🗝️ Treasure Chest */
[src="/assets/9b1b9ee4868c262e7351.svg"],
[src="/assets/037d2a13146a63934803.svg"] {
    content: url("https://nyri4.github.io/Discolored/assets/treasure_chest.svg");
}

/* 🎁 Unclaimed */
.theme-dark .imageUnclaimed-5nJyYs,
.theme-light .imageUnclaimed-5nJyYs {
    background-image: url("https://nyri4.github.io/Discolored/assets/unclaimed.svg");
}

/* 🔊 Vocal full */
.fullArt-KDeDyg {
    background-image: url("https://nyri4.github.io/Discolored/assets/vocal_full.svg");
    background-size: 100%;
}

/* ⛏️ Wumpus Mining */
[style*='background-image: url("/assets/99ad5845cf7de1c326e2.svg");'],
[style*='background-image: url("/assets/ee4637f8627629dd0da5.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_mining.svg") !important;
}

/* 🗻 Wumpus Mountains */
[style*='background-image: url("/assets/04e2c9489e75f5614205.svg");'],
[style*='background-image: url("/assets/7ff5a96a1c84092e629e.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_mountain.svg") !important;
}

.noResultsContainer__9c6d0 > div:first-child {
    width: 200px;
    height: 100px;
    background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_mountain.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.noResultsContainer__9c6d0 > div:first-child svg {
    display: none;
}

/* 💤 Wumpus Sleeping */
[style*='background-image: url("/assets/dcbf373925d18e337c98.svg");'],
[style*='background-image: url("/assets/1641b16ec6ac0c4e733d.svg");'] {
    background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_sleeping.svg") !important;
}

/* 🍵 Wumpus Tea Party */
[style*='background-image: url("/assets/2c264379b38bf71b8358.svg");'],
[style*='background-image: url("/assets/e61cb3f7d0bd4dc1a78b.svg");'],
.theme-dark .notFriends_cba592 .errorStateIcon_cba592,
.theme-light .notFriends_cba592 .errorStateIcon_cba592 {
    background-image: url("https://nyri4.github.io/Discolored/assets/wumpus_tea_party.svg") !important;
}

/* 💬 Group chat */
[class^="partyFull_"] {
    background-image: url("https://nyri4.github.io/Discolored/assets/weapons.svg") !important;
}

/* 🏓 @everyone */
.contentWarningPopout_d2eed6 g > :nth-child(2) > :first-child path {
    fill: #0000003d;
}
.contentWarningPopout_d2eed6 g > :nth-child(3) > :first-child path {
    fill: #99abd8;
}
.contentWarningPopout_d2eed6 g > :nth-child(3) > :nth-child(2) path {
    fill: #7a8ec7;
}
.contentWarningPopout_d2eed6 g > :nth-child(4) > :first-child path {
    fill: #b3cafb;
}
.contentWarningPopout_d2eed6 g > :nth-child(4) > :nth-child(2) path {
    fill: #c2d2f1;
}
.contentWarningPopout_d2eed6 g > :nth-child(4) > :nth-child(3) path,
.contentWarningPopout_d2eed6 g > :nth-child(4) > :nth-child(4) path {
    fill: #a0b2dc;
}
.contentWarningPopout_d2eed6 g > :nth-child(4) > :nth-child(5) path,
.contentWarningPopout_d2eed6 g > :nth-child(4) > :nth-child(6) path {
    fill: #7a8ec7;
}
.contentWarningPopout_d2eed6 g > :nth-child(4) > :nth-child(7) path {
    fill: #8ba0d2;
}
.contentWarningPopout_d2eed6 g > :nth-child(4) > :nth-child(8) path {
    fill: #c2d2f1;
}
.contentWarningPopout_d2eed6 g > :nth-child(6) > :nth-child(2) path {
    fill: #99abd8;
}
.contentWarningPopout_d2eed6 g > :nth-child(10) > :first-child path {
    fill: #e0c310;
}
.contentWarningPopout_d2eed6 g > :nth-child(11) > :first-child path {
    fill: #fbd907;
}

/* replace all display name fonts with a single one*/
[class*="zillaSlab"], /* Tempo */
[class*="cherryBomb"], /* Sakura */
[class*="chicle"], /* Jellybean */
[class*="museoModerno"], /* Modern */
[class*="neoCastel"], /* Medieval */
[class*="pixelify"], /* 8Bit */
[class*="sinistre"] { /* Vampyre */
    font-family: var(--font-primary) !important;
}

body {
    font-family: var(--font-primary) !important;
}

* {
    font-family: var(--font-primary) !important;
}

/* Any custom CSS below here */

/* Invert HSL white dots */
.pill_e5445c,
.pill__1f388,
.pill_ed9a5f {
    transform: scaleX(-1);
    left: -.1em;
}

/* change dot color */
.item__58105 {
    background: var(--accent-new);
}

/* make transparent */
.content__5e434 .privateChannels_e6b769,
.content__5e434 .container__2637a,
.scroller__99e7c, .searchBar_e6b769,
.members_c8ffbb,
.member_c8ffbb {
    background: rgba(0, 0, 0, 0)!important;
}

/* HSL Server length */
.wrapper_ef3116 {
    max-height: calc(100vw - var(--gap) - var(--gap)) !important;
    padding-right: 2px;
}
.wrapper_ef3116 ul {
    max-height: calc(100vw - var(--gap) - var(--gap) - var(--gap) - var(--gap));
}
.visual-refresh .scroller_ef3116 {
    padding-bottom: 0;
}

/* Bigger Picker */
.positionLayer__08434 {
    height: 80vh;
}
.drawerSizingWrapper__08434 {
    width: 600px !important;
}

/* Radial Chat Avatrs */
.avatar_c19a55 {
    border-radius: 10%;
}

/* Remove Titelbar Fix */
.bar_c38106 {
    display: none;
    min-height: 0;
    padding: 0;
}
.base__5e434 .content__5e434 {
    margin-top: 4.4em!important;
}

.panels__5e434:not([aria-label="User area"]) {
    background: transparent !important;
    padding: unset !important;
    left: calc(var(--space-xs) - -1.4em) !important;
    bottom: calc(var(--space-xs) - 0.4em) !important;
}

/* Visual Refresh System24 Padding Fixes */
.visual-refresh .form_f75fb0 {
    margin: 0;
}
.sidebarList__5e434,
.page__5e434 {
    margin-top: var(--gap);
}
.content_f75fb0 {
    margin-bottom: var(--gap);
}
.tabBody__133bf {
    margin-bottom: var(--gap);
}

/* Sus */
@keyframes sus {
    0% {
        background-position: -22vw -5vh;
    }
    100% {
        background-position: -12vw -5vh;
    }
}
@-webkit-keyframes sus {
    0% {
        background-position: -22vw -5vh;
    }
    100% {
        background-position: -12vw -5vh;
    }
}
.sidebarRegionScroller__23e6b {
    background-image: url(https://i.imgur.com/FVKnrlz.png) !important;
    background-color: var(--color1) !important;
    background-repeat: no-repeat !important;
    background-size: 25vw !important;
    -webkit-animation-duration: 4s !important;
    animation-duration: 4s !important;
    -webkit-animation-name: sus !important;
    animation-name: sus !important;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* Home Button */
.scroller_ef3116
.listItemWrapper__91816
.wrapper_cc5dd2
svg
foreignObject
.wrapper__6e9f8
.childWrapper__6e9f8
svg,
.scroller_ef3116
.listItemWrapper__91816
.wrapper_cc5dd2
svg
foreignObject
.wrapper__6e9f8
.childWrapper__6e9f8::before,
.scroller_ef3116 .listItemWrapper__91816 .wrapper_cc5dd2 .lowerBadge_cc5dd2,
.scroller_ef3116 .listItemWrapper__91816 .wrapper_cc5dd2 svg mask:nth-child(2),
.scroller_ef3116
.listItemWrapper__91816
.wrapper_cc5dd2
svg
defs
rect:nth-child(3) {
    display: none;
}
.scroller_ef3116
.listItemWrapper__91816
.wrapper_cc5dd2
svg
foreignObject
.wrapper__6e9f8
.childWrapper__6e9f8 {
    border-radius: 10px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='-10 -5 85 58'><rect x='-20' width='200' height='200' y='-40' fill='%23{{colors.inverse_primary.default.hex_stripped}}'></rect><path fill='%23{{colors.primary.default.hex_stripped}}' d='M41.2351 0C40.6164 1.09866 40.0607 2.2352 39.5556 3.397C34.7569 2.67719 29.8697 2.67719 25.0584 3.397C24.5658 2.2352 23.9976 1.09866 23.3788 0C18.8705 0.770324 14.4759 2.12155 10.3085 4.02841C2.04967 16.2652 -0.185531 28.1863 0.925755 39.9432C5.76238 43.517 11.1799 46.2447 16.951 47.9874C18.2517 46.2447 19.4009 44.3883 20.3859 42.4562C18.5169 41.7616 16.7111 40.8903 14.981 39.88C15.4356 39.5517 15.8776 39.2107 16.307 38.8824C26.4475 43.6559 38.1917 43.6559 48.3449 38.8824C48.7742 39.236 49.2162 39.577 49.6708 39.88C47.9408 40.9029 46.1349 41.7616 44.2533 42.4688C45.2383 44.4009 46.3875 46.2573 47.6882 48C53.4593 46.2573 58.8768 43.5422 63.7134 39.9684C65.0268 26.3299 61.4656 14.5099 54.3054 4.04104C50.1507 2.13418 45.7561 0.782952 41.2478 0.0252565L41.2351 0ZM21.8003 32.7072C18.6811 32.7072 16.0923 29.8785 16.0923 26.3804C16.0923 22.8824 18.5801 20.041 21.7876 20.041C24.9952 20.041 27.5461 22.895 27.4956 26.3804C27.4451 29.8658 24.9826 32.7072 21.8003 32.7072ZM42.8389 32.7072C39.7071 32.7072 37.1436 29.8785 37.1436 26.3804C37.1436 22.8824 39.6314 20.041 42.8389 20.041C46.0465 20.041 48.5848 22.895 48.5343 26.3804C48.4838 29.8658 46.0213 32.7072 42.8389 32.7072Z'></path></svg>");
    background-color: transparent;
    background-size: var(--guildbar-avatar-size);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}



/* Nuke Avatar Decor and stuff */
.avatarDecoration_c19a55,
.avatarDecoration__44b0c {
    display: none;
}
.profileEffects__01370 {
    display: none;
}
.container__4bbc6.noFade__4bbc6 {
    display: none;
}

/* Nuke Useless Stuff */
.chatGradient__36d07,
.footer__214dc,
button[aria-label="Start An Activity"],
button[aria-label="Send a gift"],
.buttonContainer_e6e74f:has(> button[aria-label="Apps"]),
.scroller__99e7c li:has(.linkButton__972a0 > .link__972a0[href="/store"]),
.scroller__99e7c li:has(.linkButton__972a0 > .link__972a0[href="/shop"]),
.menus_ce8328 .overlay_c0bea0 div button[data-list-item-id*="___shop"],
.menus_ce8328 .overlay_c0bea0 div button[data-list-item-id*="___get-premium"],
.menus_ce8328
.overlay_c0bea0
div[data-list-id="profile-288633425303437312"]
.menuDivider_ce8328,
.inner_c0bea0 .wrapper__6c798 > button,
.channelAppLauncher_e6e74f,
.gradientBackground__11664,
.stack_dbd263 .tutorialContainer__650eb,
.stack_dbd263 .tutorialContainer__650eb ~ .listItem__650eb:nth-last-child(2),
.stack_dbd263 .tutorialContainer__650eb ~ .listItem__650eb:nth-last-child(3) {
    display: none !important;
}

/* system24 fixes*/body,
                   .appMount__51fd7,
                   .container__133bf,
                   .container__9293f,
                   .nowPlayingColumn__133bf,
                   .chat_f75fb0,
                   .chatContent_f75fb0,
                   .bg__960e4,
                   .sidebarList__5e434,
                   .panels__5e434,
                   .container__37e49,
                   .themedBackground__74017,
                   .sidebar__5e434 {
                       background: transparent !important;
                   }
.messagesWrapper__36d07,
.peopleColumn__133bf,
.subtitleContainer_f75fb0,
.container__9293f:not([aria-label="Channel header"]),
.panels__5e434,
.privateChannels_e6b769:not([aria-label="Private channels"]),
.container__2637a:not([aria-label*="server"]),
.container_c8ffbb,
.layer__960e4,
.sidebarList__5e434,
.guilds__5e434,
.container__7d20c,
.outer_c0bea0,
.container_f369db,
.mainCard_f369db,
.sidebarRegion__23e6b,
.contentRegionScroller__23e6b,
.embedWrapper_b7e1cb:not(.fileWrapper__0ccae),
.channelTextArea_f75fb0,
.file__0ccae {
    background: var(--bg-0-t) !important;
}
.guilds__5e434 {
    max-height: calc(98vw - var(--pad));
    z-index: 1;
}
.guilds__5e434::after {
    position: absolute;
    top: 20px;
    left: 48px;
    rotate: 90deg;
    padding: 0 4px;
    z-index: 100;
}

.app_a3002d {
    color: rgba(0, 0, 0, 0);
}

/* radial fixes */
#app-mount .wrapper__44b0c rect[fill="#43a25a"] {
    stroke: var(--rs-online-color);
}

#app-mount .wrapper__44b0c rect[fill="#ca9654"] {
    stroke: var(--rs-idle-color);
}

#app-mount .wrapper__44b0c rect[fill="#d83a42"] {
    stroke: var(--rs-dnd-color);
}

.form_f75fb0 {
    padding-left: 0!important;
}

/* Custom Inputs */
.searchBar__97492,
.button__201d5{
    background: transparent!important;
    border: var(--border-thickness) solid var(--border-subtle)!important;
    transition: border-color var(--border-hover-transition)!important;
}

.button__201d5 {
    color: var(--button-secondary-text)!important;
}

.button__201d5.lookFilled__201d5.colorRed__201d5 {
    background-color: color-mix(in srgb, var(--button-danger-background) 20%, transparent) !important;
}
.button__201d5.lookFilled__201d5.colorRed__201d5:hover {
    border-color: var(--button-danger-background)!important;
}

.button__201d5.lookFilled__201d5.colorBrand__201d5 {
    background-color: color-mix(in srgb, var(--custom-info-color) 20%, transparent) !important;
}
.button__201d5.lookFilled__201d5.colorBrand__201d5:hover {
    border-color: var(--custom-info-color)!important;
}

.colorable_f1ceac.disconnect_f1ceac {
    background: var(--status-danger-background)!important;
}

.buttons__37e49 button {
    border: none!important;
}

.searchBar__97492:hover,
.button__201d5:hover{
    border-color: var(--border-hover)!important;
}

.content__5e434 {
    margin-top: var(--custom-guild-list-width);
    overflow: visible !important;
}

#app-mount .sidebar__5e434 {
    border-radius: 0;
    overflow: visible !important;
}
#app-mount .guilds__5e434 {
    transform-origin: top left;
    rotate: -90deg;
    height: 100vw !important;
    bottom: unset;
    position: absolute !important;
    left: 0;
}
#app-mount .tree_ef3116 {
    padding-top: var(--HSL-top-padding, var(--size-sm));
}
#app-mount .wrapper_cc5dd2 {
    rotate: 90deg;
}
#app-mount .itemsContainer_ef3116,
#app-mount .stack_dbd263 {
    flex-direction: var(--HSL-server-direction);
    justify-content: var(--HSL-server-alignment);
}

.container__5e434 > div[style]:not(.base__5e434) {
    width: 100vw !important;
    height: var(--custom-guild-list-width) !important;
    position: absolute;
    top: calc(var(--custom-guild-list-width) + var(--custom-app-top-bar-height));
    pointer-events: none;
    z-index: 1;
}
.container__5e434 > div[style]:not(.base__5e434) .guilds__5e434 {
    pointer-events: all;
}
.container__5e434 > div[style]:not(.base__5e434) + .base__5e434 .content__5e434 {
    margin-top: calc(var(--custom-guild-list-width) * 2);
}

/* cleaner embeds */
.embedFull__623de {
    background: var(--custom-background-surface-high)!important;
}