@use "sass:color";
@use "sass:string";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

$input: #353537;
$background: #212223;
$backgroundDarken: #161717;
$backgroundDarkest: #0e0e0e;
$foreground: #f1f1f1;
$error: red;

$radius: 7px;
$widgetRadius: 30px;

.bg-transparent {
  background: transparent;
}

.bx-none {
  box-shadow: none;
}