/* Base font family */
.font-victor {
  font-family: 'VictorMono', monospace;
}

/* Weights */
.font-victor-thin        { font-family: 'VictorMono', monospace; font-weight: 100; }
.font-victor-extralight  { font-family: 'VictorMono', monospace; font-weight: 200; }
.font-victor-light       { font-family: 'VictorMono', monospace; font-weight: 300; }
.font-victor-regular     { font-family: 'VictorMono', monospace; font-weight: 400; }
.font-victor-medium      { font-family: 'VictorMono', monospace; font-weight: 500; }
.font-victor-semibold    { font-family: 'VictorMono', monospace; font-weight: 600; }
.font-victor-bold        { font-family: 'VictorMono', monospace; font-weight: 700; }

/* Italics */
.font-victor-italic             { font-family: 'VictorMono', monospace; font-weight: 400; font-style: italic; }
.font-victor-thin-italic        { font-family: 'VictorMono', monospace; font-weight: 100; font-style: italic; }
.font-victor-extralight-italic  { font-family: 'VictorMono', monospace; font-weight: 200; font-style: italic; }
.font-victor-light-italic       { font-family: 'VictorMono', monospace; font-weight: 300; font-style: italic; }
.font-victor-medium-italic      { font-family: 'VictorMono', monospace; font-weight: 500; font-style: italic; }
.font-victor-semibold-italic    { font-family: 'VictorMono', monospace; font-weight: 600; font-style: italic; }
.font-victor-bold-italic        { font-family: 'VictorMono', monospace; font-weight: 700; font-style: italic; }

/* Base font family */
.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

/* Weight classes */
.font-orbitron-regular     { font-family: 'Orbitron', sans-serif; font-weight: 400; }
.font-orbitron-medium      { font-family: 'Orbitron', sans-serif; font-weight: 500; }
.font-orbitron-semibold    { font-family: 'Orbitron', sans-serif; font-weight: 600; }
.font-orbitron-bold        { font-family: 'Orbitron', sans-serif; font-weight: 700; }
.font-orbitron-extrabold   { font-family: 'Orbitron', sans-serif; font-weight: 800; }
.font-orbitron-black       { font-family: 'Orbitron', sans-serif; font-weight: 900; }

/* Base font family */
.font-turretroad {
  font-family: 'TurretRoad', sans-serif;
}

/* Weight classes */
.font-turretroad-extralight { font-family: 'TurretRoad', sans-serif; font-weight: 200; }
.font-turretroad-light      { font-family: 'TurretRoad', sans-serif; font-weight: 300; }
.font-turretroad-regular    { font-family: 'TurretRoad', sans-serif; font-weight: 400; }
.font-turretroad-medium     { font-family: 'TurretRoad', sans-serif; font-weight: 500; }
.font-turretroad-bold       { font-family: 'TurretRoad', sans-serif; font-weight: 700; }
.font-turretroad-extrabold  { font-family: 'TurretRoad', sans-serif; font-weight: 800; }
