# wayland env

export ELECTRON_OZONE_PLATFORM_HINT=auto
# export SDL_VIDEODRIVER=wayland
export GDK_BACKEND=wayland,x11,*

export QT_WAYLAND_DISABLE_WINDOWDECORATION=1
export QT_QPA_PLATFORM='wayland;xcb'
export QT_QPA_PLATFORMTHEME=gtk3
export QT_QPA_PLATFORMTHEME_QT6=gtk3
export OZONE_PLATFORM=wayland

export GTK_THEME=Flat-Remix-GTK-Blue-Darkest-Solid

export TERMINAL='kitty -1'


# wine env

export WINEDLLOVERRIDES='version=n,b'


# firefox env

export MOZ_ENABLE_WAYLAND=1
export MOZ_WEBRENDER=1
export MOZ_DISABLE_RDD_SANDBOX=1


# cursor env

export XCURSOR_SIZE=24
export XCURSOR_THEME=phinger-cursors-dark


# amd gpu env

export LIBVA_DRIVER_NAME=radeonsi
export __GLX_VENDOR_LIBRARY_NAME=mesa
export AMD_USERQ=1
export WLR_RENDER_DRM_DEVICE=__PREFERRED_RENDER_NODE__


# intel gpu env

export LIBVA_DRIVER_NAME=iHD
export __GLX_VENDOR_LIBRARY_NAME=mesa
export __EGL_VENDOR_LIBRARY_FILENAMES=/usr/share/glvnd/egl_vendor.d/50_mesa.json
export WLR_RENDER_DRM_DEVICE=__PREFERRED_RENDER_NODE__


# nvidia gpu env

export LIBVA_DRIVER_NAME=nvidia
export __GLX_VENDOR_LIBRARY_NAME=nvidia
export GBM_BACKEND=nvidia-drm
export __NV_PRIME_RENDER_OFFLOAD=1
export NVD_BACKEND=direct
export EGL_PLATFORM=wayland
export __GLX_MAX_FRAMES_IN_FLIGHT=1
export WLR_RENDER_DRM_DEVICE=__PREFERRED_RENDER_NODE__
